

%div.container
  %div.row.justify-content-center
    %div.col-md-4.align-self-center
      %div.card.login-panel
        %div.card-body
          %h2 Sign up
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .field
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email"
            .field
              = f.label :password
              = f.password_field :password, class: 'form-control', autocomplete: "new-password"
              - if @minimum_password_length
                %small.form-text.text-muted
                  (#{@minimum_password_length} characters minimum)
            .field
              = f.label :password_confirmation
              = f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password"
            .actions
              = f.submit "Sign up", class: 'btn btn-primary full-width'
          = render "devise/shared/links"
