%div.card
  %div.card-body
    %div.d-flex.justify-content-between.flex-row
      %h5.card-title.align-self-start
        = task.title
      -if current_user.id == task.user.id
        %div.d-flex.flex-row
          = link_to edit_task_path(task) do
            %i.material-icons.right edit
          = link_to task, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.material-icons.right delete
    %p.card-text= task.description
    %footer.blockquote-footer
      by
      %cite{:title => task.user.email}= task.user.email