%div.card.mb-2{:id => "task_#{task.id}"}
  %div.card-body
    %div.d-flex.justify-content-between.flex-row
      %h5.card-title.align-self-start
        = task.title
      -if current_user.id == task.user.id
        .dropdown
          %a#dropdownMenuLink.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuLink"}
            = link_to edit_task_path(task), class: "dropdown-item" do
              = I18n.t('common.edit')
            = link_to task, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "dropdown-item" do
              = I18n.t('common.delete')
    %p.card-text= task.description
    %footer.blockquote-footer
      by
      %cite{:title => task.user.email}= task.user.email