
%a.list-group-item
  %h4.list-group-item-heading= task.title
  %p.list-group-item-text
    %span= task.description
  %p.list-group-item-text
    %span= task.deadline
  %p.list-group-item-text
    %span= task.user.email
  - if current_user.id == task.user_id
    %div.row.task-buttons
      %div.col-md-6
        = link_to "EDit", edit_task_path(task), class: 'btn btn-primary full-width' 
      %div.col-md-6
        %button.btn.btn-danger.full-width Delete
