

%div.card
  %div.card-header
    = event.title
  %div.card-body
    %b What?
    %p.card-text= event.description
    %b Where?
    %p.card-text= event.location
    %b When?
    %p.card-text= event.date
    %footer.blockquote-footer
      by
      %cite{:title => event.user.email}= event.user.email
    - if request.path == "/events"
      
      = link_to event_path(event), class: 'btn btn-light full-width' do
        Go to event
    