

%div.card
  %div.card-header
    %div.d-flex.justify-content-between.flex-row
      %h5.card-title.align-self-start
        = event.title
      -if current_user.id == event.user.id
        
        .dropdown
          %a#dropdownMenuLink.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuLink"}
            = link_to edit_event_path(event), class: "dropdown-item" do
              = I18n.t('common.edit')
            = link_to event, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" do
              = I18n.t('common.delete')
              
  %div.card-body
    %b= I18n.t('event.event.what')
    %p.card-text= event.description
    %b= I18n.t('event.event.where')
    %p.card-text= event.location
    %b= I18n.t('event.event.when')
    %p.card-text= event.date
    %footer.blockquote-footer
      by
      %cite{:title => event.user.email}= event.user.email
    - if request.path == "/events" || request.path == "/"
      
      = link_to event_path(event), class: 'btn btn-light full-width mt-2' do
        = I18n.t('event.event.event_link')
    