
%div.container.event-container
  %div.row.justify-content-center
    %div.col-md-5
      = render @event

      %div.tasks-container
        %div.d-flex.justify-content-between.flex-row
          %h4.margin-bottom-none.align-middle{:style => "padding-top: 5px"} Tasks
          = link_to new_task_path(event_id: @event) do
            %i.material-icons.md-36.align-middle add
        %div.list-group
          = render @tasks 
          - if @tasks.length == 0
            %div.text-center
              %p.text-muted 
                = I18n.t('event.show.no_tasks')
                %br/
                = I18n.t('event.common.add_some')
    %div.col-md-3
      %div.card
        %div.card-header
          %div.d-flex.justify-content-between.flex-row
            %h5.card-title.align-self-start
              = I18n.t('event.show.messages_title')
            
        %div.card-body{:id => "messages"}
          = render @messages
        
        = form_for @message, remote: true do |f|
          .input-group
            
            .field
              = f.hidden_field :event_id, value: @event.id
            
            = f.text_area :body, placeholder: "Enter message here", class: "form-control message-input"
            .input-group-append
              = f.submit I18n.t('event.show.messages_submit'), class: "btn btn-outline-secondary"
          

      
       